.main-menu {
  align-items: center;
}

.logo {
  background-image: image-url('app/logo');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  margin: 0 auto;
  width: 70px;
}

ul.main-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.main-menu-nav a {
  color: white;
  text-decoration: none;
}

li.logout-nav {
  position: fixed;
  bottom: 0;
}

button.logout {
  height: 40px;
  width: 100%;
  border-radius: 100%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-family: 'Proxima Nova', sans-serif;
  box-sizing: border-box;
  color: white;
  background: #648f00;
  border-color: #648f00;
  text-transform: uppercase;
}

button.logout:hover {
  color: #fbfbfc;
  background: #84bd00;
  border-color: #84bd00;
}
