.main-view {
  background-color: black;
  color: #fbfbfc;
  font-weight: lighter;
  overflow-y: scroll;
}

.main-view h1 {
  display: inline-block;
  font-weight: lighter;
  padding: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.main-view::-webkit-scrollbar {
  display: block;
  background-color: #1c1c1f;
  width: 10px;
}

.main-view::-webkit-scrollbar-thumb {
  display: block;
  background-color: #323438;
  border-radius: 10px;
  border: 1px solid transparent;
  background-clip: content-box;
}

table.song-list {
  width: 100%;
}

th {
  text-transform: uppercase;
  text-align: left;
}

td.play-button {
}

.play-button img {
  max-height: 25px;
}

ul h4 {
  font-weight: lighter;
}

ul a {
  display: inline-block;
  color: #dfe0e6;
  text-align: center;
}

ul a:hover {
  color: #fbfbfc;
}

.edit-delete-playlist {
  display: flex;
  justify-content: flex-start;
}

.playlist-form input {
  display: inline-block;
  background-color: transparent;
  border: 1px solid white;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  height: 30px;
  font-size: 14px;
  line-height: 19px;
  color: #dfe0e6;
}


.your-music {
  display: flex;
  flex-direction: column;
}

// only create playlist button so far
.main-view button {
  display: inline-block;
  position: relative;
  border: 0;
  cursor: pointer;
  font-family: 'Proxima Nova', sans-serif;
  box-sizing: border-box;
  color: #dfe0e6;
  background: #07d159;
  border-color: #07d159;
  text-transform: uppercase;
  border-radius: 500px;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  margin: 20px 0px;
  padding: 0 27px;
}

.main-view button:hover {
  color: #FFFFFF;
}
