.main-menu {
  align-items: center;
}

.logo {
  background-image: image-url('app/logo');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 70px;
  width: 70px;
  margin: 5px auto;
}

ul.main-menu-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75px;
}

ul.main-menu-nav a, li {
  color: #dfe0e6;
  text-decoration: none;
}

ul.main-menu-nav li {
  padding: 5px;
}

ul.main-menu-nav img {
  width: 60%;
}

li.user-name {
  position: fixed;
  bottom: 60px;
}

li.logout-nav {
  position: fixed;
  bottom: 10px;
}

button.logout {
  width: 80px;
  height: 30px;
  border-radius: 30px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-family: 'Proxima Nova', sans-serif;
  box-sizing: border-box;
  color: #dfe0e6;
  background: transparent;
  border-color: #07d159;
  border: 1px solid grey;
  text-transform: uppercase;
}

button.logout:hover {
  color: #FFFFFF;
  border-color: #dfe0e6;
}
