.main-view {
  background-color: black;
  color: #fbfbfc;
  font-weight: lighter;
}

.main-view h1 {
  display: inline-block;
  font-weight: lighter;
}

table.song-list {
  width: 100%;
}

th {
  text-transform: uppercase;
  text-align: left;
}

ul h4 {
  font-weight: lighter;
}

ul a {
  display: inline-block;
  color: #dfe0e6;
}

ul a:hover {
  color: #fbfbfc;
}

// new playlist form/input
.new-playlist-form input {
  height: 30px;
  font-size: 14px;
  line-height: 19px;
  color: #3e3e40;
}

// only create playlist button so far
.main-view button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-family: 'Proxima Nova', sans-serif;
  box-sizing: border-box;
  color: white;
  background: #648f00;
  border-color: #648f00;
  text-transform: uppercase;
}

.new-playlist-form button {
  border-radius: 500px;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
  margin: 20px 0px;
  padding: 0 27px;
}

.new-playlist-form button:hover {
  color: #fbfbfc;
  background: #84bd00;
  border-color: #84bd00;
}
