.now-playing-wrapper-active {
  display: flex;
  padding: 20px;
  align-items: center;
}

#now-playing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// temp
#now-playing audio {
  width: 100%;
}

.now-playing-art {
  height: 200px;
  width: 200px;
  min-height: 150px;
  min-width:  150px;
  text-align: center;
}

.now-playing-art img {
  width: 100%;
  color: white;
}

.now-playing-art h4 {
  letter-spacing: 6px;
  font-size: 32px;
}

.now-playing-info {
  text-transform: none;
  text-align: center;
}

.now-playing-info h5 {
  color: #fbfbfc;
  font-size: 14px;
  line-height: 19px;
}
.now-playing-info h6 {
  font-size: 12px;
  line-height: 16px;
}

.audio-controls {
  display: flex;
  min-height: 50px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

progress {
  height: 4px;
  border: 0;
  border-radius: 2px;
}
progress::-webkit-progress-bar {
  background-color: #88898c;
  border-radius: 2px;
}
progress::-webkit-progress-value {
  background-color: #07d159;
  border-radius: 2px;
}
progress::-moz-progress-bar {
  background-color: #07d159;
  border-radius: 2px;
}

#song-progress-bar {
  width: 100%;
}

ul.song-progress-info {
  display: flex;
  justify-content: space-between;
}

.song-progress-info li {
  display: inline;
}

.audio-controls button {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
}

.audio-control-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.audio-controls img {
  position: relative;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #88898c;
}

.audio-controls img:hover {
  border: 1px solid #07d159;
}

#queue-list {
  margin: 20px;
}
