// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.splash {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: radial-gradient(ellipse, #535353 -20%, #090909 50%);
  background-color: #535353; // Old browsers

  align-items: center;
  justify-content: center;
  display: flex;
  position:absolute;
}

.splash-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 900px;
}

.auth-nav-logo {
  background-image: image-url('splash/logo');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 146.4px;
  margin: 0 auto;
  width: 268px;
}

.small-signup-logo, .small-login-logo {
  background-image: image-url('splash/logo');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  margin: 0 auto;
  width: 268px;
}

.splash-features {
  flex: 0 0 540px;
  padding: 45px;
}

.splash-left {
  flex: 0 0 288px;
  padding: 45px;
  color: white;
}

.splash-left h3 {
  text-align: center;
}

.splash-left label {
  color: #a0a0a0;
  display: block;
  font-size: 13px;
  margin-top: 15px;
}

.splash-left input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
  font-weight: 700;
  outline: none;
  padding: 5px 10px;
  width: 100%;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
  font-weight: 300;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  font-weight: 300;
}
:-ms-input-placeholder { /* IE 10+ */
  color: white;
  font-weight: 300;
}
:-moz-placeholder { /* Firefox 18- */
  color: white;
  font-weight: 300;
}

.small-text {
  color: white;
  font-size: 12px;
  line-height: 1.4;
  text-align: center;
}

.splash-left a {
  color: white;
  text-decoration: none;
  font-weight: 300;
}

.splash-left a:hover {
  text-decoration: underline;
}

.splash-left button {
  border-radius: 19px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  font-weight: 300;
  height: 37px;
  margin: 20px 0px;
  padding: 5px 0px;
  text-transform: uppercase;
  width: 100%;
}

.green-button {
  border: none;
  background-color: #07D159;
}

.clear-button {
  background-color: transparent;
  border: 1px solid white;
}

.splash-divider {
  background-color: #999;
  flex: 0 0 1px;
  height: 430px;
}

.splash-features h1 {
  color: #07D159;
  font-size: 60px;
  font-weight: 400;
}

.splash-features h2 {
  color: white;
  font-size: 28px;
  font-weight: 300;
  margin: 35px 0px 45px 0px;
}

.splash-features li {
  background: image-url('splash/check.svg') no-repeat left top;
  color: white;
  font-size: 18px;
  font-weight: 300;
  height: 24px;
  padding: 5px 0 0 40px;
  position: relative;
}

.login-errors {
  color: #CE1A2B;
  font-size: 16px;
  padding-top: 20px;
}

p > div {
  display: inline;
  background-color: #CE1A2B;
  color: #DDD;
  position: relative;
  left: 366px;
  top: -25px;
  font-size: 14px;
  margin: 36px;
  padding: 8px 8px;
  visibility: hidden;
  z-index: 1;
}

div.has-error {
  white-space: pre;
}

div.has-error:before {
  border-right: 5px solid #CE1A2B;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: none;
  content: "";
  position: absolute;
  top: 7px;
  left: -5px;
}


div.has-error {
  visibility: visible;
}
